@import "/src/styles/fonts";
@import "/src/styles/colors";

.password-form {
  display: flex;
  padding-top: 24px;
  min-height: 140px;
  &__password-container {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    position: relative;
  }

  &__input {
    height: 48px;
    padding: 16px 12px;
    margin: 8px 0;
    font-size: 0.9375rem;
    font-family: $font-family-regular;
    border: 1px solid $light-gray;
    width: 256px;
    &:focus {
      outline: none;
    }
    &--error {
      border: 1px solid $error;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    max-width: 256px;
    img {
      position: absolute;
      top: 20px;
      right: 12px;
      cursor: pointer;
    }
  }

  &__error {
    display: inline;
    font-size: 0.75rem;
    font-family: $font-family-bold;
    color: $error;
    max-width: 256px;
    &--hide {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .password-form {
    flex-direction: column;
    padding-top: 16px;
    &__password-container {
      padding-top: 8px;
    }
  }
}
