@import "/src/styles/fonts";
@import "/src/styles/colors";

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  border-top: 2px solid $terciary-color;
  &__button {
    font-family: $font-family-bold;
    font-size: 0.9375rem;
    border-color: transparent;
    cursor: pointer;
    &--cancel {
      color: $secondary-color;
      background-color: $white;
      &:disabled {
        color: $terciary-color;
      }
    }
    &--next {
      padding: 10px 18px;
      color: $white;
      background-color: $secondary-color;
      &:disabled {
        background-color: $terciary-color;
        color: #e3e9e9;
      }
      i {
        padding-left: 8px;
      }
      svg {
        margin-left: 8px;
      }
    }
  }
}
